@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* font-family: 'Kumbh Sans', sans-serif; 400, 700 */

:root {
  --primary1: hsl(185, 75%, 39%);
  --primary2: hsl(229, 23%, 23%);
  --primary3: hsl(227, 10%, 46%);

  --neutral: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h3 {
  font-size: 1.15rem;
}

p {
  color: var(--neutral);
  font-size: 0.95rem;
}

/* ---------------- */

.center-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary1);
  position: relative;
}
.pattern-top {
  position: absolute;
  top: -100%;
  right: 20%;
  z-index: 1;
}
.card {
  width: 85%;
  margin: auto;
  position: relative;
  z-index: 25;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 2px 2px 5rem rgb(104, 100, 100);
}

.img-container {
  background: url(./images/bg-pattern-card.svg);
  width: 100%;
}

.img-container img {
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: 12%;
  transform: translateY(50%);
}

.container {
  width: 100%;
  background: rgb(255, 255, 255);
}

.info {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

.age {
  font-weight: 400;
  color: var(--neutral);
  margin-left: 0.25rem;
}

.social-container {
  width: 100%;
  padding: 1.5rem;
  flex-direction: row;
  border-top: 1.5px solid rgb(236, 231, 231);
}

.social-container ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.social-item p {
  font-size: 0.75rem;
  padding-top: 0.5rem;
  letter-spacing: 0.065rem;
}

.pattern-bottom {
  position: fixed;
  top: 45%;
  left: 45%;
  overflow: hidden;
  height: 100%;
}

@media only screen and (min-width: 700px) {
  .card {
    width: 60%;
  }
}

@media only screen and (min-width: 700px) {
  .card {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .card {
    width: 40%;
  }

  .pattern-top {
    right: 50%;
  }

  .pattern-bottom {
    top: 55%;
    left: 75%;
  }
}
