@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* font-family: 'Kumbh Sans', sans-serif; 400, 700 */

:root {
  --primary1: hsl(185, 75%, 39%);
  --primary2: hsl(229, 23%, 23%);
  --primary3: hsl(227, 10%, 46%);

  --neutral: hsl(0, 0%, 59%);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}

/* ---------------- */
