@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* font-family: 'Kumbh Sans', sans-serif; 400, 700 */

:root {
  /* Text */
  --dark-blue: hsl(238, 29%, 16%);
  --gray-blue: hsl(237, 12%, 33%);
  --soft-red: hsl(14, 88%, 65%);

  --gray: hsl(240, 6%, 50%);

  /* Divider */
  --divider: hsl(240, 5%, 91%);

  /* Gradients */
  --bg-violet: hsl(273, 75%, 66%);
  --bg-blue: hsl(240, 73%, 65%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, var(--bg-violet), var(--bg-blue));
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--dark-blue);
}

p {
  color: var(--gray);
  margin: 1rem 0;
}

.container {
  width: 85%;
  background: white;
  border-radius: 1.5rem;
  padding: 3rem 1.5rem;
  margin-top: 5rem;
  box-shadow: 0px 15px 50px var(--dark-blue);
  position: relative;
}

.desktop-img-container {
  display: none;
}
.question {
  border-bottom: 1px solid var(--divider);
  margin-top: 1rem;
}
.question-text:hover {
  cursor: pointer;
  color: var(--soft-red);
}
.question-text:focus {
  color: var(--dark-blue);
  font-weight: 700;
  pointer-events: none;
}

.arrow-down {
  float: right;
}

.answer {
  display: none;
}

.show-answer {
  display: block;
}

.answer p {
  margin-bottom: 1rem;
  line-height: 1rem;
}

.woman-online {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: translateY(-52%);
}

.pic-shadow {
  display: block;
  margin: auto;
  transform: translateY(-50%);
}

.attribution {
  margin-top: 2.5rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 15%, 80%);
}

@media only screen and (min-width: 570px) {
  .container {
    width: 60%;
  }
}

@media only screen and (min-width: 850px) {
  .container {
    width: 40%;
  }
}

@media only screen and (min-width: 1380px) {
  h1 {
    text-align: start;
  }

  .container {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    overflow: hidden;
    width: 60%;
  }

  .desktop-img-container {
    display: block;
  }

  .mobile-img-container {
    display: none;
  }

  .content {
    flex: 1;
    align-self: center;
  }

  #woman-online-desktop {
    transform: translateX(-22%);
    position: relative;
    z-index: 25;
  }

  #pic-shadow-desktop {
    position: absolute;
    right: 30rem;
    top: -20rem;
    z-index: 15;
  }

  #picture-box {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 17%;
    height: 110px;
    width: auto;
    z-index: 35;
  }
}
